<footer id="main-footer">


<div id= "newsletter">
  <h1>Sleep<span class = "highlight">Outside</span>
  <h2>Sign up to recieve our monthly newsletters!</h2>
  <form class = 'newsletter-form'>
    <label for ="newsletter-email">
      Email address
    </label>

    <input
      id="newsletter-email"
      name="email"
      type="email"
      required
      placeholder="Email Address"
      />

  <button type="submit" id = "subscribeButton">Subscribe Now</button>
</div>
  <p class = "copyright">&copy;NOT a real business</p>
</footer>
